<div class='m-0 mt-4 h-100 d-flex flex-column justify-content-center align-items-center' >
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    
    <div class='row w-75 mt-4 d-flex flex-column justify-content-center align-items-center'>
      <img class="card-img-top" style="height: auto; width: 60%;" src="/images/done-illu.png" alt="done-verified"/>
      <div class="card-body" style="text-align: center">
        <img 
          src="https://res.cloudinary.com/duukfyfyl/image/upload/v1649957635/lobosocial-logo-flex_naml5b.png" 
          style="height: auto; width: 200px;" border="0" alt="LoboSocial" />
        <h5 class="card-title mt-4" style="font-size: 24px;">Xác nhận email thành công</h5>
        <p class="card-text">Tài khoản của bạn đã được kích hoạt, bây giờ bạn đã có thể sử dụng dịch vụ của chúng tôi.</p>
        <a href="#" class="btn btn-primary" 
          style="width: 100%; background-color: black;">
          Về đăng nhập
        </a>
      </div>
    </div>
  </div>
</div>